body
{
	background-image: url("D:/The Classical Ishto/MainPageBG.jpg"); /*change the path*/
	background-repeat: no repeat;
}
h1
{
	font-size: 70px;
    color: cornsilk;
    text-align: center;
    background: blueviolet;
}
button1
{
	font-size: 30px;
	color: cyan;
	text-align: center;
}
button2
{
	font-size: 30px;
	color: cyan;
	text-align: center;
}